 EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# At Oh My we indent with spaces etc
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false

[*.{js,ts,jsx,tsx,json,vue,yaml,yml}]
indent_size = 2
indent_style = space

[package.json]
indent_size = 2
